body {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  display: flex;
  width: 170px;
  left: -175px;
  transition: left ease 0.5s;
}

.sidebar:hover {
  left: 0;
}

.containers {
  background-color: beige;  
  padding: 5px;
  border-radius: 0 0 5% 0;
}

.main_container {
  /* display: flex;
  justify-content: space-between; */
}

.sub_container {
  display: flex;
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.toggles_container  {


}

.toggle_container {
  width: 100%;
  
}

.toggle_container input {
  /* float: right; */
}

.sidebar .expand_toggles {
  height: 20px;
  background-color: beige;
  padding: 5px;
  border-radius: 0 30% 30% 0;
}